<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <button (click)="change()">Play+++/Puase</button>
    <button (click)="change1()">Play/Puase</button>
    <button (click)="change2()">Play/Puase</button>
    <button (click)="change3()">Play/Puase</button>
    <button (click)="change4()">Play/Puase</button>
    <button (click)="change5()">Play/Puase</button>
    <button (click)="change6()">Play/Puase</button>
    <button (click)="change7()">Play/Puase</button>
    <button (click)="change8()">Play/Puase</button>
</ion-content>
